name: Parallel control
on: workflow_dispatch
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      fail-fast: false
      matrix:
        version: [1,2,3,4,5]
    steps:
      - run: echo "Version = ${{ matrix.version }}"
